#system-menu-container .facebook-widget {
	padding: 1em;
}

#system-menu-container ul.menu-list {
	padding:0;margin:0;list-style:none;
}

#system-menu-container .menu-list li a {
	text-decoration: none;
	font-weight: normal;
	/*font-size: 1.15em;*/
}

#system-menu-container .menu-list li a:hover {
	color: #0000ff;
}